<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>


  <div class="container">
    
    <div>

      <form action="/" method="POST" class="form">
        <h1>LOGIN</h1>
        <input type="text" placeholder="Email" class="input" name="email"/>
        <input type="password" placeholder="Password" class="input" name="password"/>
        <button class="btn">LOGIN</button>
      </form>

    </div>
  </div>



</body>

</html>